<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10;IE=9;IE=8;IE=7;IE=EDGE">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate" media="handheld" href="#" />
    <meta charset="utf-8">
    <title>李林-web前端开发</title>
    <meta content="web前端开发,熟悉Hybrid,微信公众平台,小程序,web游戏相关开发" name="description">
    <meta content="李林,web前端开发,Hybrid,微信公众平台,小程序,web游戏,egret,canvas,nodejs" name="keywords">
    <link rel="stylesheet" href="../style/about.css">
</head>

<body>
    <div id="container">
        <!-- 基本信息 -->
        <div class="basic" id="baseInfo">
            <div class="basic-photo">
                <img class="mr_headimg user-avatar" id="userpic" src="../../lib/images/tx.jpg" width="120" height="120"
                    alt="头像" />
            </div>
            <div class="basic-info">
                <div class="basic-name-area">
                    <p class="basic-name female">李林</p>
                    <i class="icon-sex icon-sex__male"></i>
                </div>
                <p>
                    <span class="basic-company">易维路觅（北京）教育科技有限公司</span>
                    <span> / </span>
                    <span class="basic-job">资深前端开发工程师</span>
                </p>
                <p class="basic-self">
                    <span class="basic-exp">8年工作经验 / </span>
                    <span class="basic-edu">大专
                        /
                    </span>
                    <span class="basic-age">27岁</span>
                </p>
                <p>
                    <span class="basic-tel">
                        <i class="basic-tel_icon"></i>
                        <span>15235676136</span>
                    </span>
                    <span class="basic-email">
                        <i class="basic-email_icon"></i>
                        <span>c_ommand@163.com</span>
                    </span>
                </p>
            </div>
        </div>
        <!-- /基本信息 -->

        <!-- 自我描述 -->
        <div class="mr-template per" id="perAbility">
            <div class="mr-template_title">
                <span>个人优势</span>
            </div>
            <div class="tagboard integrative-tag">
                <div class="integrative-tag_content">
                </div>
            </div>
            <div class="per-self_content">
                <div class="per-self_des">
                    熟悉前端行业现有解决方案，对不同场景能够快速，高效的完成相应业务的能力支持；有丰富的教育行业从业经验，熟悉前端在教育行业的应用场景及其痛点，能够快速高效的配合/协调团队完成相关工作。
                </div>
            </div>
        </div>
        <!-- /自我描述 -->


        <!-- 工作经历 -->
        <div class="mr-template work-exp" id="workExp">
            <div class="mr-template_title">
                <span>工作经历</span>
            </div>
            <ol class="work-exp_group">
                <li class="work-exp_list">
                    <p class="exp-list_time">2011.06-至今</p>
                    <div class="exp-list_top">
                        <img src="../../lib/images/company-icon/easy-group.jpg" alt="公司Logo">
                        <div class="exp-list_right">
                            <strong class="exp-list_title">
                                <span>易维路觅（北京）教育科技有限公司</span>
                                ／
                                <span>技术部</span>
                            </strong>
                            <p>资深前端开发工程师</p>
                        </div>
                    </div>
                    <div class="tagboard">
                        <span class="tagboard-tag">React</span>
                        <span class="tagboard-tag">Electron</span>
                    </div>
                    <div class="exp-list_content">
                        <ol>
                            <li>全面负责公司的Web前端技术(包括技术选型、预研、人员培训等);</li>
                            <li>参与产品设计研发;</li>
                            <li>与设计、产品及后台人员沟通,保证产品的质量和开发进度;</li>
                            <li>持续的优化相关的产品的质量、性能、用户体验;</li>
                        </ol>
                    </div>
                </li>
                <li class="work-exp_list">
                    <p class="exp-list_time">2019.10-2021.05</p>
                    <div class="exp-list_top">
                        <img src="../../lib/images/company-icon/todoen.jpg" alt="公司Logo">
                        <div class="exp-list_right">
                            <strong class="exp-list_title">
                                <span>北京治学教育科技有限公司</span>
                                ／
                                <span>技术部</span>
                            </strong>
                            <p>前端开发工程师</p>
                        </div>
                    </div>
                    <div class="tagboard">
                        <span class="tagboard-tag">微信公众平台</span>
                        <span class="tagboard-tag">小程序</span>
                        <span class="tagboard-tag">前端开发</span>
                    </div>
                    <div class="exp-list_content">
                        <ol>
                            <li>全面负责公司的Web前端技术(包括技术选型、预研、人员培训等);</li>
                            <li>与设计、产品及后台人员沟通,保证产品的质量和开发进度;</li>
                            <li>持续的优化相关的产品的质量、性能、用户体验;</li>
                        </ol>
                    </div>
                </li>
                <li class="work-exp_list">
                    <p class="exp-list_time">2018.01-2019.09</p>
                    <div class="exp-list_top">
                        <img src="../../lib/images/company-icon/ppy.jpg" alt="公司Logo">
                        <div class="exp-list_right">
                            <strong class="exp-list_title">
                                <span>北京吾好科技发展有限公司</span>
                                ／
                                <span>技术部</span>
                            </strong>
                            <p>开发工程师</p>
                        </div>
                    </div>
                    <div class="tagboard">
                        <span class="tagboard-tag">前端开发</span>
                        <span class="tagboard-tag">egret</span>
                        <span class="tagboard-tag">React</span>
                    </div>
                    <div class="exp-list_content">
                        <ol>
                            <li>使用React参与公司web项目开发</li>
                            <li>使用egret引擎搭建课前/课后及课中相关框架</li>
                            <li>配合前端其他同事使用electron + react + egret 完成课件编辑器开发（课中及ai课程）</li>
                            <li>配合开发教学游戏模板/组件</li>
                        </ol>
                    </div>
                </li>
                <li class="work-exp_list">
                    <p class="exp-list_time">2017.08-2018.01</p>
                    <div class="exp-list_top">
                        <img src="../../lib/images/company-icon/logo_default.png" alt="公司Logo">
                        <div class="exp-list_right">
                            <strong class="exp-list_title">
                                <span>笨鸟盛世（北京）教育科技有限公司</span>
                                ／
                                <span>技术部</span>
                            </strong>
                            <p>课件开发专员</p>
                        </div>
                    </div>
                    <div class="tagboard">
                        <span class="tagboard-tag">canvas</span>
                        <span class="tagboard-tag">前端开发</span>
                    </div>
                    <div class="exp-list_content">
                        <ol>
                            <li>开发完善自研canvas渲染引擎</li>
                            <li>配合.net同事完成windows端课件编辑器</li>
                            <li>利用自研引擎实现课件开发</li>
                            <li>参与研发web端龙骨动画编辑器</li>
                        </ol>
                    </div>
                </li>
                <li class="work-exp_list">
                    <p class="exp-list_time">2016.05-2017.07</p>
                    <div class="exp-list_top">
                        <img src="../../lib/images/company-icon/hrjh.jpg" alt="公司Logo">
                        <div class="exp-list_right">
                            <strong class="exp-list_title">
                                <span>北京汉融金汇教育科技有限公司</span>
                                ／
                                <span>技术部</span>
                            </strong>
                            <p>web前端开发</p>
                        </div>
                    </div>
                    <div class="tagboard">
                        <span class="tagboard-tag">Hybrid</span>
                        <span class="tagboard-tag">前端开发</span>
                    </div>
                    <div class="exp-list_content">
                        <p>与团队其他成员配合完成官网，公众号及录播金融教育APP开发上线，期间使用angularjs完成工商银行积分商城项目（申度商城）并支持在线客服功能。</p>
                    </div>
                </li>
                <li class="work-exp_list">
                    <p class="exp-list_time">2014.06-2016.05</p>
                    <div class="exp-list_top">
                        <img src="../../lib/images/company-icon/logo_default.png" alt="公司Logo">
                        <div class="exp-list_right">
                            <strong class="exp-list_title">
                                <span>果硕教育科技有限公司</span>
                                ／
                                <span>技术部</span>
                            </strong>
                            <p>开发工程师</p>
                        </div>
                    </div>
                    <div class="tagboard">
                        <span class="tagboard-tag">Angular</span>
                        <span class="tagboard-tag">Flash</span>
                        <span class="tagboard-tag">Hybrid</span>
                    </div>
                    <div class="exp-list_content">
                        <p>独立开发前端相关项目，期间自学了前端及混合开发相关知识，使用falsh
                            as3及angularjs完成了围棋工具，学习站点。利用ionic完成围棋圈社交围棋直播APP，使用php+jq完成微信公众号相关开发
                        </p>
                    </div>
                </li>
            </ol>
        </div>
        <!-- /工作经历 -->

        <!-- 项目经历 -->
        <div class="mr-template pro-exp" id="proExp">
            <div class="mr-template_title">
                <span>项目经历</span>
            </div>
            <ol class="pro-exp_group">
                <li class="pro-exp_list">
                    <div class="exp-list_title">
                        <span class="exp-project_name">电子商务系统</span>
                        <span class="exp-project_company">
                            <span>（</span>
                            <span>易维路觅（北京）教育科技有限公司</span>
                            <span>）</span>
                        </span>
                        <input type="hidden" value="1" name="isComplete">
                    </div>
                    <p class="exp-list_time">2022.04-至今</p>
                    <div class="exp-project_des">
                        <p>基于原有学习平台做出功能增加，支持各业务线配置自己的首页，添加商品（课程，储值，定金），促销活动等，学生可以在新平台完成，课程购买（支持多货币支付场景）并完成上课。</p>
                    </div>
                    <div class="exp-list_content">
                        <ul>
                            <li>用户端完成首页改版、商品查询，购买、购物车、优惠券，储值使用、支持微信，支付宝及信用卡支付等功能</li>
                            <li>后台在本次需求中完成了微前端拆分，将原有后台系统拆分CMS, CRM 以及 电子商务系统三部分；电子商务完成了支持学生端功能所需配置、相关统计数据展示等功能；</li>
                        </ul>
                    </div>
                </li>
                <li class="pro-exp_list">
                    <div class="exp-list_title">
                        <span class="exp-project_name">直播学习平台</span>
                        <span class="exp-project_company">
                            <span>（</span>
                            <span>易维路觅北京教育科技有限公司</span>
                            <span>）</span>
                        </span>
                        <input type="hidden" value="1" name="isComplete">
                    </div>
                    <p class="exp-list_time">2021.06-至今</p>
                    <div class="exp-project_des">
                        <ul>
                            <li>教师端（PC客户端），功能包含直播课程信息查询，设备检测，直播以及聊天等功能；</li>
                            <li>学生端（web站点），功能以直播，录播，回放，课程物料预览下载等为主；</li>
                            <li>后台（web站点），包含排课，出勤统计，问卷调查，课程物料编辑等以课程服务及学生，老师上课信息统计等功能</li>
                        </ul>
                    </div>
                    <div class="exp-list_content">
                        <ul>
                            <li>教师端完成了重构，解决了原有渲染进程与主进程通讯混乱，及部分无法通讯的问题，重写直播逻辑，升级相应三方sdk，避免因控制混乱导致的麦克风收音异常，视频流采集中断等问题；
                            </li>
                            <li>学生端完成录播，回放视频加密方式从三方到自研方式的替换，直播添加容错机制；</li>
                        </ul>
                    </div>
                </li>
                <li class="pro-exp_list">
                    <p class="exp-list_title">
                        <span class="exp-project_name">Athena 题库系统</span>
                        <span class="exp-project_company">（<span>北京治学教育科技有限公司</span>）</span>
                    </p>
                    <p class="exp-list_time">2021.02-至今</p>
                    <div class="exp-project_des">
                        <p>1.该项目致力于为用户提供跨平台的答题服务，为教研团队提供所见即所得的题库管理系统</p>
                        <p>2.项目基础服务：移动端题型组件库，pc端题型组件库，录入/批改组件库以及题库数据处理库</p>
                        <p>3.应用层包括 app学习中心，pc学习中心，教研录题/批改后台</p>
                    </div>
                    <div class="exp-list_content">
                        <p>带领前端3人团队在短期内完成了整个新题库系统及其衍生应用的上线，为公司的pc网站及app完成赋能，为后续扩展其他答题应用打下了基础，提高了后期答题应用的开发效率，缩短了开发周期。</p>
                    </div>
                </li>
                <li class="pro-exp_list">
                    <p class="exp-list_title">
                        <span class="exp-project_name">皮皮鱼课件编辑器</span>
                        <span class="exp-project_company">（<span>北京吾好科技发展有限公司</span>）</span>
                    </p>
                    <p class="exp-list_time">2019.02-2019.09</p>
                    <div class="exp-project_des">
                        <ol>
                            <li>帮助教研人员高效开发课程所需课件及创建相关ai课程</li>
                            <li>解放开发人员频繁处理，替换现有组件资源，让开发人员有更多的时间投入到课堂组件的开发中</li>
                            <li>舞台区基于egret引擎实现课件编辑预览，宿主容器基于electron + react 实现数据的本地存储，精确编辑及文件生产导出等.</li>
                        </ol>
                    </div>
                    <div class="exp-list_content">
                        <p>
                            带领课件开发组成员配合前端同事耗时三个月成功发布window/mac客户端1.0正式版，并协助教研/产品完成课件开发工具的替换。解决开发人员频繁替换资源及与教研人员沟通成本高的问题，提高了教研人员的课件开发效率，为教研人员提供了创建课件其他可能性的空间。
                        </p>
                    </div>
                </li>
                <li class="pro-exp_list">
                    <p class="exp-list_title">
                        <span class="exp-project_name">I金砖APP</span>
                        <span class="exp-project_company">（<span>北京汉融金汇教育科技有限公司</span>）</span>
                    </p>
                    <p class="exp-list_time">2016.06-2017.04</p>
                    <div class="exp-project_des">
                        <p>为金融从业人员提供录播/直播的移动学习平台！ </p>
                        <ol>
                            <li>在线学习：结构清晰的在线学习路径，轻量化的微课形式。</li>
                            <li>在线测试：基于知识体系的练习和测试，深度理解和掌握知识内容。</li>
                            <li>学习效果数据化：跟踪学习过程，量化学习效果。</li>
                        </ol>
                    </div>
                    <div class="exp-list_content">
                        <p>配合团队成员完善开发录播/直播功能，带领团队成员完成项目重构，从apicloud云平台到基于ionic框架的切换，并保证了线上的正常运行与发布。</p>
                    </div>
                </li>
            </ol>
        </div>
        <!-- /项目经历 -->
        <!-- 教育经历 -->
        <div class="mr-template edu-exp" id="eduExp">
            <div class="mr-template_title">
                <span>教育经历</span>
            </div>
            <ol class="edu-exp_group">
                <li class="edu-exp_list">
                    <!-- <p class="exp-list_time">2018.09-2020.12</p> -->
                    <div class="exp-list_top">
                        <img src="../../lib/images/school-icon/cug.jpeg" alt="学校Logo">
                        <div class="exp-list_right">
                            <strong>中国地质大学(北京)</strong>
                            <p>大专 / 计算机应用技术</p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <!-- /教育经历 -->

        <!-- 社交主页 -->
        <!-- /社交主页 -->

        <!-- 图片作品 -->
        <!-- /图片作品 -->
    </div>
    <script type="text/javascript" crossorigin="anonymous" src="https://www.lagou.com/upload/oss.js?v=1010"></script>
</body>

</html>
